  .container {
    max-width: 960px;
  }

  .alert {
    position: fixed;
    top: 80px;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  #password1:invalid, #password2:invalid {
    border: 2px solid red
    }